


<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<a href="https://login.uber.com/oauth/v2/authorize?response_type=code&client_id=Klrxf7izFQ7wPvXZkW5O-kiv6W2Wg8qS&scope=profile&redirect_uri=http://localhost:3000/home/index">rideonuber2222222</a>

<hr>
<h3>
    <%= @user.email if @user%>
</h3>
